body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #b784db;
}
.treee{
    background: white;
    width: auto;
    height: auto;
    justify-content: center;
}
.apa{
    height: 250px;
    width: 250px;
}